body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.header-top {
    height: 40px;
    display: flex;
    align-items: center;
    background: #367eea96;
}

.header-middle {
    height: 120px;
    display: flex;
    align-items: center;
    background: #3c71d2;
}

.container-head-mid {
    width: 1200px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 25pt;
    text-transform: uppercase;
    text-align: center;
    color: #ffffffd1;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 200px;
}

.nav a {
    text-decoration: none;
    color: #565e59;
}
.nav li {
     display: inline-block;
     font-size: 14px;
     padding-right: 15px;
     padding-left: 15px;
}

.container-head-top {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.social-icons {
    padding-right: 20px;
}

.social-icons img {
    border-radius: 50%;
}


section {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 300px;
    width: 600px;
    background: white;
    border: 2px double black;
    margin-top: 15px;
    margin-bottom: 15px;
}