{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
    <title>{% block title %}Головна сторінка - Fishing paradise{% endblock %}</title>
</head>
<body>
    <div class="header-top">
        <div class="container-head-top">
            <ul class="nav">
                <li><a href="{% url 'index' %}">Главная</a></li>
                {% for rubric in rubrics %}
                <li><a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a></li>
                {% endfor %}
                <li><a href="{% url 'add' %}">Добавить скидку</a></li>
            </ul>
            <a class="social-icons" href="#" rel="nofollow" target="_blank" title="Ми у Facebook">
                <img src="{% static 'bboard/facebook_logo.png' %}" alt="facebook-logo">
            </a>
            <a class="social-icons" href="#" rel="nofollow" target="_blank" title="Ми у Instagram">
                <img src="{% static 'bboard/inst_logo.png' %}" alt="instagram-logo" width="28px" height="28px">
            </a>
        </div>
        <!--container-head-top-->
    </div>
    <!--header-top-->
    <div class="header-middle">
        <div class="container-head-mid">
            <img src="{% static 'bboard/logo.png' %}" alt="logo" width="90px" height="90px">
            <h1>Fishing paradise</h1>
        </div>
        <!--container-head-mid-->
    </div>
    <!--header-middle-->
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>